[submodule "scripts/AFUtils"]
	path = scripts/AFUtils
	url = https://github.com/igromanru/AFUtils-UE4SS
[submodule "RE-UE4SS"]
	path = RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS
[submodule "lua-apclientpp"]
	path = lua-apclientpp
	url = https://github.com/black-sliver/lua-apclientpp
